<form class="form center-form" method="post">
  <h2 class="head-title">Delete Thread</h2>
  <br/><br/><br/>
  <div class="form-group">
    <label for="title">Thread title:</label>
    <input type="text" name="title" class="input-field" disabled value="{{thread.title}}"/>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" rows="10" class="input-field" disabled>{{thread.description}}</textarea>
  </div>
  <input type="submit" class="btn form-btn" value="Delete thread" />
</form>