<div class="container">
    <h1>Edit comment</h1>
      <div class="row">
          <div class="col-md-4 col-md-offset-4">
             <form (ngSubmit)='submitComment()' #commentForm='ngForm'>
               <div class="form-group">
                 <textarea class="form-control" id='message' name='message' [(ngModel)]='message' required></textarea>
               </div>
               <button type="submit" class="btn btn-success" [disabled]="!commentForm.form.valid">Submit</button>
             </form>
          </div>
      </div>
</div>