<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload image page</title>
    <link href="/content/images/favicon.ico" rel="icon"/>
    <link href="/content/styles/site.css" rel="stylesheet"/>
</head>
<body>
    <h1>Upload Image Page</h1>
    <header>
        <nav class="nav">
         <ul>
           <li><a href="/"><h2>Home</h2></a></li>
            <li><a href="/images/uploaded"><h2>Uploaded images</h2></a></li>
         </ul>
       </nav>
    </header>
    <main>
        <form class="form center-form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" class="input-field"/>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input id="image" name="imageUrl" type="file" class="input-field" accept="image/*"/>
            </div>
            <div class="form-group">
                <label for="private">Make private</label>
                <input id="private" name="private" type="checkbox" class="input-field" />
            </div>
            <div class="form-group">
                <input class="btn form-btn" type="submit" value="Add"/>
            </div>
        </form>
        <br/>
    </main> 
    <footer>&copy; NodeJS Web Server</footer>
</body>
</html>