<form class="form center-form" method="post">
  <h2 class="head-title">Add new category</h2>
  <br/><br/><br/>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" class="input-field" required value="{{name}}"/>
  </div>
  <input type="submit" class="btn form-btn" value="Add" />
</form>