<form class="form center-form" action="/users/login" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="input-field" name="username" />
  </div>
    <br />
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="input-field" name="password" />
  </div>
    <br />
    <input type="submit" class="btn form-btn" value="Login" />
</form>