<form class="form center-form" action="/users/register" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="input-field" name="username" required/>
  </div>
    <br />
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="input-field" name="password" required/>
  </div>
    <br />
  <div class="form-group">
    <label for="first-name">First name</label>
    <input type="text" name="firstName" class="input-field" required/>
  </div>
  <br />
  <div class="form-group">
    <label for="last-name">Last name</label>
    <input type="text" name="lastName" class="input-field"required/>
  </div>
    <br />
    <input type="submit" class="btn form-btn" class="input-field" value="Register" />
</form>