<form class="form center-form" action="/users/login" method="POST">
<div class="form-group">
  <label>Потребител</label>
  <input type="text" name="username" class="input-field"/>
</div>
  <br />
  <div class="form-group">
  <label>Парола</label>
  <input type="password" name="password" class="input-field"/>
  </div>
  <br />
  <div class="form-group">
  <input type="submit" class="btn form-btn" value="Вход" class="input-field"/>
  </div>
</form>