<form class="form center-form" action="/users/register" method="POST">
<div class="form-group">
  <label>Потребителско име</label>
  <input type="text" name="username" class="input-field"/>
</div>
  <br />
  <div class="form-group">
  <label>Парола</label>
  <input type="password" name="password" class="input-field"/>
  </div>
  <br />
  <div class="form-group">
  <label>Име</label>
  <input type="text" name="firstName" class="input-field"/>
  </div>
  <br />
  <div class="form-group">
  <label>Фамилия</label>
  <input type="text" name="lastName" class="input-field"/>
  </div>
  <br />
  <div class="form-group">
  <input type="submit" class="btn form-btn" value="Регистрирай се" />
  </div>
</form>