<h1>All Cars</h1>
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
  <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
  </li>
</ul>
<div>
  <label>Sort By: </label>
  <select (change)="onChange($event.target.value, pager.currentPage)">
    <option *ngFor="let i of sortedTypes">{{i}}</option>
  </select>
</div>
<div *ngFor="let car of pagedCars">
  <li class="car">
    <h3><span>{{car.make}}</span> {{car.model}}</h3>
    <img src={{car.image}} alt={{car.make}} />
    <a href="/cars/{{car.id}}">Details</a>
    <a href="/owners/{{car.owner}}">View owner</a>
  </li>
</div>
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
   <li [ngClass]="{disabled:pager.currentPage === 1}">
       <a (click)="setPage(1)">First</a>
   </li>
   <li [ngClass]="{disabled:pager.currentPage === 1}">
       <a (click)="setPage(pager.currentPage - 1)">Previous</a>
   </li>
   <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
       <a (click)="setPage(page)">{{page}}</a>
   </li>
   <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
       <a (click)="setPage(pager.currentPage + 1)">Next</a>
   </li>
   <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
       <a (click)="setPage(pager.totalPages)">Last</a>
   </li>
</ul>