<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog System</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div class="nav">
    <ul>
      <li><a href="/">Начало</a></li>
      <li><a href="/article/list">Публикации</a></li>
      {{#if currentUser}}
        <li><a href="/about">За мен</a></li>
        <li><a href="/article/add">Публикувай статия</a></li>
      {{/if}}
      <li></li>
      {{#if currentUser}}
        <li><a href="/users/profile">{{currentUser.username}}</a></li>
        <li>
          <form id="logout-form" action="/users/logout" method="POST"></form>
          <a href="javascript:document.getElementById('logout-form').submit()">Изход</a>
        </li>
      {{else}}
        <li><a href="/users/register">Регистрация</a></li>
        <li><a href="/users/login">Вход</a></li>
      {{/if}}
    </ul>
    {{#if globalError}}
      <h3>{{globalError}}</h3>
    {{/if}}
    {{{body}}}
  </div>
</body>
</html>
